.color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
    
}

.blue {
    background-color: #0000FF;
}

.coral {
    background-color: #FF7F50;
}

.darkgreen {
    background-color: #006400;
    color: white;
}

.darkmagenta {
    background-color: #8B008B;
}

.goldenrod {
    background-color: #DAA520;
}

