body {
    font-family: "Parkinsans", sans-serif;
}

.color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
    
}

.blue {
    background-color: #0000FF;
}

.coral {
    background-color: #FF7F50;
}

.darkgreen {
    background-color: #006400;
    color: white;
}

.darkmagenta {
    background-color: #8B008B;
}

.goldenrod {
    background-color: #DAA520;
}

/* Fonts Label Section */

.container {
    border: 2px solid #a2a2a6;
    padding: 10px;
    margin: 10px auto;
    
}
.font-panel {
    width: 45%;
    display: inline-block;
    background-color: #006400;
}

.font-label {
    font-size: 20px;
    text-decoration: underline;
}


.parkinsans {
  font-family: "Parkinsans", sans-serif;
}

.edu-au-vic-wa-nt-arrows {
    font-family: "Edu AU VIC WA NT Arrows", cursive;
    color: aliceblue;
}

.sevillana-regular {
    font-family: "Sevillana", cursive;
    
  }
  


.regular {
    font-style: normal;
}

.bold {
    font-weight: 700;

}

.italic {
    font-style: italic;

}